<header>
  <!-- Navigation start -->


  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/main">Silicon Madness</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/main">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Our Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Free Parking Spacer</a>
            <a class="dropdown-item" href="#">Halician Language</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">News & Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacts</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <li class="nav-item">
          <a class="nav-link btn border" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn border" href="/registration">Sign up</a>
        </li>
      </ul>
    </div>
  </nav>


  <!-- Navigation end -->
</header>