<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Main{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <style>
         #zayn{
             width: 100px;
             height: 100px;
             background-color: red;
             border-width: 1px;
             border-style: solid;

              }
         #viln{
             width: 100px;
             height: 100px;
             background-color: green;
             border-width: 1px;
             border-style: solid;
              }


    </style>

</head>
<body>


      <div class="jumbotron p-3 p-md-3 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">{% block heder %}Парковки{% endblock %}</h1>
        </div>
      </div>
            {% block content %}
<main role="main" class="container">
<div class="row featurette">
              {% for key, value in cou.items %}
    
                {% if value == 'Occupied' %}

                  <div id="zayn"><h2>{{key}}</h2></div>

                {% else %} 

                  <div id="viln"><h2>{{key}}</h2></div>

                {% endif %}
              
               
              {% endfor %}
</div>    
</main>
    
    
            {% endblock %}



</body>
</html>
