<mat-card>
    <mat-card-title>
      Log in User
    </mat-card-title>
<mat-card-content>
<form id="formData" #userData="ngForm" (ngSubmit)="loginUser(userData.value)">


      <mat-form-field>
        <input matInput placeholder="username" name="username" type="text" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="password" name="password" type="password" ngModel>
      </mat-form-field>
       <br>
      <input type="submit" value="Login" matButton>

</form>
</mat-card-content>
</mat-card>