<main>
  <!-- Main-text start -->

  <!-- ПОЯВА НИЖНЬОГО СКРОЛУ!!! ФІКСИТЬСЯ-->
  <!-- <div class="row content">
    <div class="col-2"></div>
    <div class="col-4">
      <p class="main-text">The Future<br> is Here!</p>
    </div>
    <div class="col-6"></div>
  </div> -->
  
  <!-- Поправити текст -->
  <div class="container">
    <p class="main-text text-left">The Future<br> is Here!</p> 
  </div>


  <!-- Main-text end -->


  <!-- About Us start -->


  <div class="container text-center">
    <h1>About Us</h1>
    <p class="pt-2">Pretium aenean pharetra magna ac. Magna fermentum iaculis eu non. Turpis egestas integer eget aliquet nibh praesent tristique. At auctor urna nunc id cursus metus aliquam. Est lorem ipsum dolor sit amet consectetur adipiscing. Tellus in metus vulputate eu scelerisque. Convallis a cras semper auctor neque.</p>
  </div>


  <!-- About Us end -->

  <app-projectslist></app-projectslist>
</main>